@import "colors";
@import "button_mixins";

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {

  background-color: #2c3e50;
}

.btn {
  &.btn-yellow {
    @include button-variant(#fff, #F1C40F, #F1C40F);
  }
  &.btn-orange {
    @include button-variant(#fff, #F39C12, #F39C12);
  }
  &.btn-red {
    @include button-variant(#fff, #E74C3C, #E74C3C);
  }
  &.btn-dark_red {
    @include button-variant(#fff, #AB3326, #AB3326);
  }
  &.btn-purple {
    @include button-variant(#fff, #9B59B6, #9B59B6);
  }
  &.btn-dark_blue {
    @include button-variant(#fff, #2C3E50, #2C3E50);
  }
  &.btn-light_blue {
    @include button-variant(#fff, #3498DB, #3498DB);
  }
  &.btn-blue_green {
    @include button-variant(#fff, #18BC9C, #18BC9C);
  }
  &.btn-green {
    @include button-variant(#fff, #01C94F, #01C94F);
  }
}

.label {
  margin-right: 10px;
  font-weight: 500;

  &.yellow {
    background-color: #F1C40F;
  }
  &.orange {
    background-color: #F39C12;
  }
  &.red {
    background-color: #E74C3C;
  }
  &.dark_red {
    background-color: #AB3326;
  }
  &.purple {
    background-color: #9B59B6;
  }
  &.dark_blue {
    background-color: #2C3E50;
  }
  &.light_blue {
    background-color: #3498DB;
  }
  &.blue_green {
    background-color: #18BC9C;
  }
  &.green {
    background-color: #01C94F;
  }
}

.nilable-addon {
  .form-group {
    margin-bottom: 0;
  }
  label {
    padding-top: 6px;
    padding-left: 28px;
  }
  input[type=checkbox] {
    margin-top: -17px !important;
  }
}

.new-button-wrapper {
  padding-top: 8px;
}

.pagination:first-of-type {
  margin-bottom: 0px;
}


.wizard span {padding: 12px 12px 10px 12px; margin-right:5px; background:#efefef; position:relative; display:inline-block; }
.wizard span:before {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-left: 20px solid #fff; position: absolute; content: ""; top: 0; left: 0;}
.wizard span:after {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-left: 20px solid #efefef; position: absolute; content: ""; top: 0; right: -20px; z-index:2;}
.wizard span:first-child:before {border:none;}
.wizard span:last-child:after {border:none;}

.wizard span:first-child {-moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius:   4px 0 0 4px;}
.wizard span:last-child {-moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius:   0 4px 4px 0;}

.wizard .badge {margin:0 5px 0 18px; position:relative; top:-1px;}
.wizard span:first-child .badge {margin-left:0;}

.wizard .current {background:#007ACC; color:#fff;}
.wizard .current:after {border-left-color:#007ACC;}
