@import "colors";

.search-result-link {
  .upmin-model {
    margin-bottom: 10px;
  }
}

.upmin-model {
  padding: 20px;
  margin: 10px 0px 250px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  &.yellow {
    border-left-color: #F1C40F;
    > h3, > h4 {
      color: #F1C40F;
      > a {
        color: #F1C40F;
      }
      > a.delete {
        color: #fff;
      }
    }
  }
  &.orange {
    border-left-color: #F39C12;
    > h3, > h4 {
      color: #F39C12;
      > a {
        color: #F39C12;
      }
      > a.delete {
        color: #fff;
      }
    }
  }
  &.red {
    border-left-color: #E74C3C;
    > h3, > h4 {
      color: #E74C3C;
      > a {
        color: #E74C3C;
      }
      > a.delete {
        color: #fff;
      }
    }
  }
  &.dark_red {
    border-left-color: #AB3326;
    > h3, > h4 {
      color: #AB3326;
      > a {
        color: #AB3326;
      }
      > a.delete {
        color: #fff;
      }
    }
  }
  &.purple {
    border-left-color: #9B59B6;
    > h3, > h4 {
      color: #9B59B6;
      > a {
        color: #9B59B6;
      }
      > a.delete {
        color: #fff;
      }
    }
  }
  &.dark_blue {
    border-left-color: #2C3E50;
    > h3, > h4 {
      color: #2C3E50;
      > a {
        color: #2C3E50;
      }
      > a.delete {
        color: #fff;
      }
    }
  }
  &.light_blue {
    border-left-color: #3498DB;
    > h3, > h4 {
      color: #3498DB;
      > a {
        color: #3498DB;
      }
      > a.delete {
        color: #fff;
      }
    }
  }
  &.blue_green {
    border-left-color: #18BC9C;
    > h3, > h4 {
      color: #18BC9C;
      > a {
        color: #18BC9C;
      }
      > a.delete {
        color: #fff;
      }
    }
  }
  &.green {
    border-left-color: #01C94F;
    > h3, > h4 {
      color: #01C94F;
      > a {
        color: #01C94F;
      }
      > a.delete {
        color: #fff;
      }
    }
  }



  h3 {
    margin-top: 6px;
    font-size: 1.3em;
  }
  h4 {
    margin-top: 4px;
    font-size: 1.1em;
  }
  h5 {
    margin-top: 24px;
    margin-bottom: 6px;
  }
  h6 {
    margin-top: 20px;
    margin-bottom: 6px;
  }

  dd {
    word-wrap: break-word;
  }


  .collection-search {
    margin-top: 10px;
    // margin-right: 20px;
    font-size: 1.1em;

    .input-group-btn {
      button.btn-default {
        padding: 9px;
      }
    }
  }

  input {
    height: 40px;
    font-size: 1.1em;
  }

  .radio, .radio-inline input {
    height: auto;
  }

  .well {
    padding: 9px;
    margin-bottom: 0;
    min-height: 40px;

    &.action-well {
      margin-bottom: 32px;
    }
  }

  a.active-tag-link {
    text-decoration: none;
    .label {
      padding: 4px 6px 5px 6px;
    }
  }

}
